### Pandas covert data to data frame with columns option

In [1]:
from typing import List
import pandas as pd 

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    df = pd.DataFrame(data = student_data, columns = ["student_id","age"])
    return df 
student_id = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
student = createDataframe(student_id)
print(student)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

### Get data frame size

In [2]:
def getDataframeSize(players: pd.DataFrame) -> List[int]:
   print(players.shape)
getDataframeSize(student)

(4, 2)

### See first 3 Row of Data frame

In [3]:
student.head(3)

   student_id  age
0           1   15
1           2   11
2           3   11

### Get student age when id = 1

In [6]:
student.loc[student["student_id"] == 1, [ "age"]]

   age
0   15